html {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  cursor: url("pixil-frame-0 (1).png"), auto;
}
content {
  border-color: black;
  border-width: 4px;
  padding:20px;
}
.content {
  position: relative;
  color: black;
  z-index:8;
}
.bulbs {
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttons * { 
  width: 10vh;
  height: 10vh;
}
#button1vsb {
  position: absolute;
  top: 0.01vh;
  left: 1vw;
}
#button1 {
position: absolute;
  top: 0.01vh;
  left: 1vw;
}
#button2vsb {
  position: absolute;
  top: 0.01vh;
  left: 14vw;
}
#button2 {
  position: absolute;
  top: .01vh;
  left: 14vw;
}
#button3vsb {
  position: absolute;
  top: 12.1vh;
  left: 1vw;
}
#button3 {
    position: absolute;
    top: 12.1vh;
    left: 1vw;
}
#button4vsb {
  position: absolute;
  top: 12.1vh;
  left: 14vw;
}
 #button4 {
    position: absolute;
    top: 12.1vh;
    left: 14vw;
  }
#button1 {
  opacity: 0%;
}
#button2{
  opacity: 0%;
}
#button3 {
  opacity: 0%;
}
#button4 {
  opacity: 0%;
}
img {
  filter: brightness(0);
}
#flashlight {
  width: 200px;
  height: 200px;
  top: 20px;
  left: 10px;
  border-radius: 50%;
  position: absolute;
  transform: translate(var(--position-x, 0px), var(--position-y, 0px));
  background: radial-gradient(rgba(255, 242, 179, 1), rgba(0, 0, 0,.9));
}
#lightB {
  margin-top: 0%;
  margin-left: 8%;
  border-left: 200px solid transparent;
  border-right:200px solid transparent;
  border-bottom: 500vh solid rgba(235,235,235,.6);
  z-index: 7;
  position: absolute;
}
#lightA {
  margin-top: 0%;
  margin-left: -4.6%;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 500vh solid rgba(0,29,176, .6);
  z-index: 6;
  position: absolute;
}
#lightC {
  margin-top: 0%;
  margin-left: 20.15%;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 500vh solid rgba(235,235,235,.6);
  z-index: 4;
  position: absolute;
}
#lightD {
  margin-top: 0%;
  margin-left: 31.75%;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 500vh solid rgba(179,0,0,.6);
  z-index: 3;
  position: absolute;
}
#maze {
  width:110%;
  filter: brightness(0);
  z-index: 1;
}
#cursorzone {
  height: 5vw;
  width: 5vh;
  background-color: black;
  border-radius: 50%;
  margin-right:73vw;
  margin-top:20vh;
  z-index: 2;
}
#lafayettescary {
  position: sticky;
  top: 20vh;
  opacity: "--opacity";
  brightness: "--brightness";
}
